<form novalidate (ngSubmit)="changePassword(changePasswordForm)" #changePasswordForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>

    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fieldset class="shadow-lg p-3  bg-white rounded">
      <div class="form-group">
        <label class="form-control-label"> My e-mail address: </label><br>
        <strong> {{ this.appUserInSession.email }} </strong>
      </div>
      <hr>

      <div class="form-group">
        <label class="form-control-label" for="currentPasswordId"> Current Password</label>
        <input type="password" class="form-control" 
          [ngClass]="{'is-invalid': isNotValidControl(currentPasswordVar) }" 
          id="currentPasswordId" placeholder="Current Password" required
          [(ngModel)]="currentPassword" name="currentPassword" #currentPasswordVar="ngModel">
      </div>


      <div class="form-group">
        <label class="form-control-label" for="newPasswordId"> New Password</label>
        <input type="password" class="form-control" 
          [ngClass]="{'is-invalid': isNotValidControl(newPasswordVar) }" 
          id="newPasswordId" placeholder="New Password" required [(ngModel)]="newPassword"
          name="newPassword" #newPasswordVar="ngModel" (keypress)="passwordChanged()">
      </div>


      <div class="form-group">
        <label class="form-control-label" for="confirmPasswordId"> Confirm Password</label>
        <input type="password" class="form-control" 
          [ngClass]="{'is-invalid': isNotValidControl(confirmPasswordVar) }" 
          id="confirmPasswordId" placeholder="Confirm Password" required
          appConfirmEqualValidator="newPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword"
          #confirmPasswordVar="ngModel">
      </div>

    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change Password</button>
    <button type="button" class="btn btn-default" (click)="dismiss()">Cancel</button>
  </div>
</form>