<div class="modal-header">
  <h4 class="modal-title">Spotify Browser</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="alert alert-dark" role="alert">
    <strong>{{ confirmMessage.title }} </strong> <br>
    {{ confirmMessage.message }}
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Yes</button>
    <button type="button" class="btn btn-default" (click)="dismiss()">Cancel</button>
</div> 